{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset title}{include title|striptags} | {/ifset}Nette Sandbox</title>

	<link rel="stylesheet" href="{$basePath}/build/bower.css">
	<link rel="stylesheet" href="{$basePath}/build/main.css">

	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	<meta name="viewport" content="width=device-width">
	{block head}{/block}
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

    <h2 style="border: 1px solid red;">I Am IMMORTAL </h2>

	{include content}


    <script type='text/javascript' id="__bs_script__">//<![CDATA[
        document.write("<script async src='http://localhost:3000/browser-sync/browser-sync-client.2.9.11.js'><\/script>".replace("HOST", location.hostname));
        //]]></script>


    <script src="{$basePath}/build/bower.js"></script>
    <script src="{$basePath}/build/main.js"></script>
	{block scripts}
	{/block}
</body>
</html>
